.about-container {
    display: flex;
    flex-direction: column;
}


.side-heading {
    font-size: 15px;
    color: white;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 15px;
    padding: 10px;
}

.span {
    color: #45b6fe;
    font-family: sans-serif;
    font-weight: 900;
}
.about-heading {
    text-align: center;
    color: white;
}

.para {
    font-size: 12px;
    color: white;
}